/********************************************
  STANDARD IMPORTS
********************************************/

//Armstrong core
@import "~armstrong-react/dist/imports";
//Custom overrides of Armstrongs variables
@import "./../_armstrong.variables";

/********************************************
  FORM-GRID
********************************************/

.form-grid {
    & > .row {
        &:last-of-type {
            > .col:last-of-type {
                margin-bottom: inherit;
            }
        }
        > .col {
            @extend %m-right-xsmall;
            @extend %m-bottom-small;
            &:last-of-type {
                margin-right: 0;
            }
            label {
                display: block;
                margin-bottom: $spacing-xsmall;
            }
            .full-width-form-element {
                width: 100%;
                min-width: 100px;
                input {
                    min-width: 100px;
                }
            }
        }
         //Fix for nested form-grids
            .form-grid .row:last-of-type .col {
                margin-bottom:0;
            }
    }

    .btn, button, input, select {
        margin: 0;
    }

}
